{% extends "layout.html" %}
{% block body %}
<div id="bg">
    <img src="http://b-i.forbesimg.com/kenrapoza/files/2013/04/Shanghai-sunrise.jpg" alt="">
</div>
<div id="page-wrap">
<h1> Top Five Cities for Tech Hire Sourcing </h1>
<p><a href="{{ url_for('proposal') }}">Return to Proposal</a></p>
<div>
        <p>
        <form name="weights" method=get>
        Formula Weights:
        <input type="text" name="weights" value="{{ weights | safe }}">
        <button type="submit">Update</button>
          <ul>Formula:
            <li>- Median Wage * (negative) weight_wage</li>
            <li>Digital Literacy * weight_dl + </li>
            <li>Digital Math Ability * weight_dm + </li>
            <li>PISA Math scores * weight_math + </li>
            <li>PISA Reading Scores * weight +</li>
            <li>PISA Science Scores * weight +</li>
            <li>PISA Share of Top Math Performers * weight +</li>
            <li>Citi Group 2025 HotSpots City Financial Forecast * weight (second graph only)</li>
        </ul>
        </p>
    <img src="static/images/topcities.png">
    {{ script | safe }}    
    {{ div | safe }}
    </p>
</div>
<div>
    <p>
        {{ tables | safe }}
    </p>
</div>
</div>
{% endblock %}
