{% extends "layout.html" %}
{% block body %}
<div id="bg">
  <img src="http://i.space.com/images/i/000/031/518/original/lightning-seen-from-space-9.jpg?1375826375" alt="">
</div>
<div><h1> Global Heatmap for Tech Hire Sources </h1>
    <p><a href="{{ url_for('proposal') }}">Return to Proposal</a></p>
</div>
<div>
<p> Formula: Digital Literacy * weight_dl + Digital Math Ability * weight_dm + Math Education * weight_math + Industrial Development Forecast * weight_idf  - Median Wage * weight_wage </p>
</div>
<div>
    <p> Graph
    </p>
</div>
{% endblock %}
