{% extends "layout.html" %}
{% block body %}
<div id="bg">
  <img src="http://i.space.com/images/i/000/031/518/original/lightning-seen-from-space-9.jpg?1375826375" alt="">
</div>
<div id="page-wrap">
    <h1> Global Heatmap for Tech Hire Sources </h1>
    <p><a href="{{ url_for('proposal') }}">Return to Proposal</a></p>
    <div>
    <p>
    <table>
    {% for field in form %}
        <td>\( {{ field.name }} \)</td>
        <td>{{ field(size=12) }}</td>
        <td>{{ field.label }}</td>
        {% if field.errors %}
      <td><ul class=errors>
            {% for error in field.errors %}
            <li><font color="red">{{ error }}</font></li>
            {% endfor %}</ul></td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <button type="submit">Update</button>
          <ul>Formula:
            <li>- Median Wage * (negative) weight_wage</li>
            <li>Digital Literacy * weight_dl + </li>
            <li>Digital Math Ability * weight_dm + </li>
            <li>PISA Math scores * weight_math + </li>
            <li>PISA Reading Scores * weight +</li>
            <li>PISA Science Scores * weight +</li>
            <li>PISA Share of Top Math Performers * weight +</li>
        </ul>
        </p>
    </div>
    <div>
        <p>
        <iframe width="600" height="450" src="http://www.openheatmap.com/embed.html?map=PyrocatechuicCircumvolutoryProthoraxs"></iframe>
        <div>
            {{ script | safe }}
            {{ div | safe }}
        </div>
        </p>
        {{ tables | safe }}
    </div>
</div> <!-- /page-wrap -->
{% endblock %}
