{% extends "layout.html" %}
{% block body %}

<div id="page-wrap">
<div>
  <h1>Hello and welcome to Nathan's Data Incubator Page </h1>
</div>
<div><p>
    </br>
    </br>
    <button><a href="{{ url_for('proposal_two') }}">Data Incubator Challenge Proposal</a></button> My current proposal for Question 3 of the DI Challenge.
    </br></br></br>

    <button><a href="{{ url_for('proposal') }}">[Archive] Previous Data Incubator Challenge Proposal</a></button> My previous proposal for Question 3 of the DI Challenge.
    </br></br></br>

    <button><a href="{{ url_for('stockgraph') }}">Stock Graph Demo</a></button> A simple demo of Flask/Bokeh skills recommended by a DI blog post.
</p></div>
</div>

<div id="bg">
  <img src="https://i.ytimg.com/vi/keKfBIr6TjM/maxresdefault.jpg" alt="">
</div>
{% endblock %}
