{% extends "layout.html" %}
{% block body %}
<div id="bg">
  <img src="https://i.ytimg.com/vi/keKfBIr6TjM/maxresdefault.jpg" alt="">
</div>
<div id="page-wrap">
<div>
<h1> Data Incubator Challenge Proposal </h1>
<h3> Code Worker Quest: Where to source your next tech hires?</h3>
<p><a href="{{ url_for('graph1') }}">link to first plot: Heatmap of World</a></p>
<p><a href="{{ url_for('graph2') }}">link to second plot: Graph of top five cities</a></p>
<p><a href="https://youtu.be/0kOsKaSpr8k">link to video explanation/pitch</a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0kOsKaSpr8k" frameborder="0" allowfullscreen></iframe></p>
<button><a href="{{ url_for('index') }}">Return to main page</a></button>
</div>

<div>
  <p>
  <ul>Formula:
    <li>- Median Wage * (negative) weight_wage</li>
    <li>Digital Literacy * weight_dl + </li>
    <li>Digital Math Ability * weight_dm + </li>
    <li>PISA Math scores * weight_math + </li>
    <li>PISA Reading Scores * weight +</li>
    <li>PISA Science Scores * weight +</li>
    <li>PISA Share of Top Math Performers * weight +</li>
    <li>Citi Group 2025 HotSpots City Financial Forecast * weight (second graph only)</li>
  </ul></p>
  <p><a href="https://modeanalytics.com/nathan_helm_burger/tables/code_worker_quest">The Code Worker Quest Database</a></p>
  <p>Or, if you would prefer, <a href="{{ url_for('show_table') }}">the database as an html table.</a></p>
</div>

<div>
  <p>
  <h3>Data Sources</h3>
  <ul>
    <li><a href="http://dx.doi.org/10.1787/9789264239555-6-en">OECD PISA 2012 Computer-Based Assessments</a></li>
    <li><a href="http://dx.doi.org/10.1787/9789264201118-en">OECD (2014), PISA 2012 Results: What Students Know and Can Do – Student Performance in Mathematics, Reading and Science (Volume I, Revised edition, February 2014), PISA, OECD Publishing.</a></li>
    <li><a href="http://www.gallup.com/poll/166211/worldwide-median-household-income-000.aspx">Gallup Median Income</a></li>
    <li><a href="http://www.citigroup.com/citi/citiforcities/home_articles/n_eiu_2013.htm">Citi Group HotSpot2025 City Scores</li>

  </ul>
  </p>
</div>
</div>
{% endblock %}
