<div>
<h1> Data Incubator Challenge Proposal </h1>
<h3> HireQuest: Where to source your next tech hires?</h3>
<p><a href="{{ url_for('graph1') }}">link to first plot: Heatmap of World</a></p>
<p><a href="{{ url_for('graph2') }}">link to second plot: Graph of top ten cities (over 1 million people)</a></p>
<p><a href="#">link to video explanation/pitch</a></p>
<button><a href="{{ url_for('index') }}">Return to main page</a></button>
</div>

<div>
  <p>Formula: Digital Literacy * weight_dl + Digital Math Ability * weight_dm + Math Education * weight_math + Industrial Development Forecast * weight_idf  - Median Wage * weight_wage </p>
</div>

<div>
  <p>
  <h3>Data Sources</h3>
  <ul>
    <li><a href="http://dx.doi.org/10.1787/9789264239555-6-en">OECD PISA 2012 Computer-Based Assessments</a></li>
    <li><a href="http://dx.doi.org/10.1787/9789264201118-en">OECD (2014), PISA 2012 Results: What Students Know and Can Do – Student Performance in Mathematics, Reading and Science (Volume I, Revised edition, February 2014), PISA, OECD Publishing.</a></li>
    <li></li>
    <li></li>

  </ul>
  </p>
</div>

